# cluster/farm configuration file, edit as needed (use spaces or tabs)
# PATH might be empty or set to a path/ ending with '/'
PATH    /path/to/lsf/bin/
TYPE    lsf
SUBEXE  bsub
CHKEXE  bjobs
DELEXE  bkill
ERROR   EXIT
QARGS   -q production -M 20G 
